<app-nav-bar></app-nav-bar>
<div class="max-w-md mx-auto mt-32 p-8 bg-[#181c2f] rounded-xl shadow-lg border-2 border-orange-500">
	<h2 class="text-2xl font-bold text-center text-orange-500 mb-6">
		Registro Usuarios
	</h2>
	<form [formGroup]="registroForm" (ngSubmit)="registrar()" class="space-y-4">

		<label for="nombre" class="block text-white font-semibold">Nombre completo</label>
		<input type="text" formControlName="nombre" id="nombre"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="Tu nombre completo" />
		@if (registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched) {
		<span class="text-red-500 text-sm">El nombre es obligatorio (mínimo 3 caracteres)</span>
		}


		<label for="fechaNacimiento" class="block text-white font-semibold">Fecha de nacimiento</label>
		<input type="date" formControlName="fechaNacimiento" id="fechaNacimiento"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400" />
		@if (registroForm.get('fechaNacimiento')?.invalid && registroForm.get('fechaNacimiento')?.touched) {
		<span class="text-red-500 text-sm">La fecha de nacimiento es obligatoria</span>
		}


		<label for="genero" class="block text-white font-semibold"> Género</label>
		<select formControlName="genero" id="genero"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg bg-[#23263a] text-white">
			<option value="" disabled selected>Seleccione</option>
			<option value="Masculino">Masculino</option>
			<option value="Femenino">Femenino</option>
		</select>
		@if (registroForm.get('genero')?.invalid && registroForm.get('genero')?.touched) {
		<span class="text-red-500 text-sm">El sexo/género es obligatorio</span>
		}


		<label for="cedula" class="block text-white font-semibold">Cédula</label>
		<input type="text" formControlName="cedula" id="cedula"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="cedula" />
		@if (registroForm.get('cedula')?.invalid && registroForm.get('cedula')?.touched) {
		<span class="text-red-500 text-sm">Documento inválido (6-20 caracteres alfanuméricos)</span>
		}



		<label for="telefono" class="block text-white font-semibold">Teléfono celular</label>
		<input type="text" formControlName="telefono" id="telefono"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="Teléfono" />
		@if (registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched) {
		<span class="text-red-500 text-sm">Teléfono inválido (10 dígitos)</span>
		}


		<label for="email" class="block text-white font-semibold">Correo electrónico</label>
		<input type="email" formControlName="email" id="email"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="ejemplo@correo.com" />
		@if (registroForm.get('email')?.invalid && registroForm.get('email')?.touched) {
		<span class="text-red-500 text-sm">Correo inválido</span>
		}


		<label for="password" class="block text-white font-semibold">Contraseña</label>
		<input type="password" formControlName="password" id="password"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="Tu contraseña" />
		@if (registroForm.get('password')?.invalid && registroForm.get('password')?.touched) {
		<span class="text-red-500 text-sm">La contraseña es obligatoria (6-10 caracteres)</span>
		}


		<label for="direccion" class="block text-white font-semibold">Dirección</label>
		<input type="text" formControlName="direccion" id="direccion"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="Dirección" />
		@if (registroForm.get('direccion')?.invalid && registroForm.get('direccion')?.touched) {
		<span class="text-red-500 text-sm">La dirección es obligatoria (mínimo 5 caracteres)</span>
		}
		<label for="peso" class="block text-white font-semibold">Peso</label>
		<input type="number" formControlName="peso" id="peso"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="peso" />
		@if (registroForm.get('peso')?.invalid && registroForm.get('peso')?.touched) {
		<span class="text-red-500 text-sm">El peso es invalido</span>
		}
		<label for="altura" class="block text-white font-semibold">Altura</label>
		<input type="number" formControlName="altura" id="altura"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400"
			placeholder="peso" />
		@if (registroForm.get('peso')?.invalid && registroForm.get('peso')?.touched) {
		<span class="text-red-500 text-sm">La altura es invalida</span>
		}
		<label for="imc" class="block text-white font-semibold">IMC</label>
		<input readonly type="number" formControlName="imc" id="imc"
			class="w-full px-4 py-2 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 bg-[#23263a] text-white placeholder:text-gray-400" />


		<button type="submit"
			class="w-full mt-4 bg-orange-500 hover:bg-orange-600 text-white font-bold py-3 px-8 rounded-lg shadow-md transition duration-300">
			Registrarse
		</button>
	</form>
</div>

<app-footer-component></app-footer-component>