<div class="night-background">
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
</div>
<div>
    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-center text-white md:text-4xl lg:text-5xl">
        Lista de Productos
    </h1>
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            @for(producto of productos;track producto.nombre){
            <a href="#" class="group">
                <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-01.jpg"
                    alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                    class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8" />
                <h3 class="mt-4 text-sm font-bold text-orange-500">{{producto.nombre}}</h3>
                <p class="mt-1 text-lg font-medium text-white">$ {{producto.precio}}</p>
            </a>
            }
        </div>
    </div>
</div>